<div class="container">
    <div class="row">
    <div class="col-lg-12">
        <button type="button" id="start" class="btn btn-info col-lg-offset-1 col-lg-5 ">start</button>
        <button type="button" id="stop"class="btn btn-danger col-lg-offset-1 col-lg-5">stop</button>
    </div>
        <div id="txt">ここにデータを表示</div>
        <canvas id="result"></canvas>
    </div>
</div>

<script>
    
$(function($) {
    $(document).on("click", "#start", function () {
        aZ = 0;
        realZ = [],  imaginaryZ = [];
        window.addEventListener("devicemotion", (dat) => {
        aZ = dat.acceleration.z; 
        })
        timer = window.setInterval(() => {
            realZ.push(aZ)
            console.log(aZ)
        }, 100); // 33msごとに（1秒間に約100回）
    })
})
var time = [], amp = []
$(function($) {
    $(document).on("click", "#stop", function () {
        for(i = 0; i < 36000; i++){
            realZ.shift();
            realZ.pop();
        }
        
        imaginaryZ = new Array(realZ.length);
        imaginaryZ.fill(0);
        originalZ = realZ.slice(0);  
            console.log(realZ)
        fftZ.calc(1, realZ, imaginaryZ)
        var phase = fftZ.phase(realZ, imaginaryZ);
        var frequencies = fftZ.frequencies(realZ, imaginaryZ, 10); //周波数
        console.log("fre" + frequencies)
        var amplitude = fftZ.amplitude(realZ, imaginaryZ); //振幅
        var periods = fftZ.periods(realZ, imaginaryZ, 1);
        console.log(frequencies)
        console.log(amplitude)
        ctbar = document.getElementById("result").getContext("2d");
        myBar = new Chart(ctbar, {
            type: "line",    // ★必須　グラフの種類
            data: {
                labels:  frequencies,  // Ｘ軸のラベル
                datasets: [
                    {
                        label: "FFT",                            // 系列名
                        data: amplitude                   // ★必須　系列Ａのデータ
                    }
                ]
            }
        });

        fftZ.calc( -1, realZ, imaginaryZ);
        var txt = document.getElementById("txt");  
        txt.innerHTML = "real: " + realZ + "<br>"       
                    + "frequencies: " + frequencies ;
console.log(fftZ)
        clearInterval(timer);
        $.ajax({
            type: 'POST',
            url: '/users',
            dataType: 'json',
            data : {
                'datas[]': realZ,
                'ffts[]': amplitude
            },
            success : function(data){
                console.log("success")
            }
        })
    })
})
</script>