<input name="arr_json" type="hidden" value=<%= @user_arr %> class='arr_json'/>
 <canvas id="result"></canvas>
 <div id="txt">ここにデータを表示</div>

<script>
$(function($) {
    const arrJson = $('.arr_json').val();
    const arr = JSON.parse(arrJson);
    var txt = document.getElementById("txt");  
    txt.innerHTML = "fft: " + arr.frequencies;
 var resultZ = [];
var result = arr.frequencies.filter( function( value ) {

    //5よりも小さい数値だけを抽出
    return value < 2;
})
    for(i = 0; i < result; i++){
            resultZ.push(result.toFixed(2));
        }
        console.log(resultZ);
    ctbar = document.getElementById("result").getContext("2d");
    myBar = new Chart(ctbar, {
        type: "line",    // ★必須　グラフの種類
        data: {
            labels:  resultZ,  // Ｘ軸のラベル
            datasets: [
                {
                    label: "FFT",                            // 系列名
                    data: arr.ffts                // ★必須　系列Ａのデータ
                },
            ],
        },
        options: {
                title: {                           //タイトル設定
                    display: true,                 //表示設定
                    fontSize: 18,                  //フォントサイズ
                    text: 'Z軸方向成分の加速度'                //ラベル
                },
                scales: {
                    yAxes: [{                      //y軸設定
                        display: true,             //表示設定
                        scaleLabel: {              //軸ラベル設定
                        display: true,          //表示設定
                        labelString: '振幅(s^2/Hz)',  //ラベル
                        fontSize: 20               //フォントサイズ
                        },
                        ticks: {                       // 目盛り
               
                            fontSize: 20
                            }
                    }],
                    xAxes: [{ 
                        display: true,                //表示設定
                        scaleLabel: {                 //軸ラベル設定
                            display: true,             //表示設定
                            labelString: '周波数(Hz)' ,               // 最大値
                            fontSize: 20
                            }, 
                        ticks: {                       // 目盛り
                            maxRotation: 0,
                            minRotation: 0 ,
                            maxTicksLimit: 9,
                            fontSize: 20
                            }
            
                        }],
                    },
                },
    });
})
</script>