<input name="arr_json" type="hidden" value=<%= @user_arr %> class='arr_json'/>
 <canvas id="result"></canvas>
 <div id="txt">ここにデータを表示</div>

<script>
$(function($) {
    const arrJson = $('.arr_json').val();
    const arr = JSON.parse(arrJson);
    var txt = document.getElementById("txt");  
    txt.innerHTML = "fft: " + arr.amplitudes       
    console.log(arr.amplitudes)
    ctbar = document.getElementById("result").getContext("2d");
    myBar = new Chart(ctbar, {
        type: "line",    // ★必須　グラフの種類
        data: {
            labels:  arr.frequencies,  // Ｘ軸のラベル
            datasets: [
                {
                    label: "FFT",                            // 系列名
                    data: arr.ffts                // ★必須　系列Ａのデータ
                }
            ]
        }
    });
})
</script>