<input name="arr_json" type="hidden" value=<%= @user_arr %> class='arr_json'/>
 <canvas id="result"></canvas>
 <div id="txt">ここにデータを表示</div>

<script>
$(function($) {
    const arrJson = $('.arr_json').val();
    const arr = JSON.parse(arrJson);
    var txt = document.getElementById("txt");  
    txt.innerHTML = "fft: " + arr.frequencies       
    console.log(arr.frequencies)
    ctbar = document.getElementById("result").getContext("2d");
    myBar = new Chart(ctbar, {
        type: "line",    // ★必須　グラフの種類
        data: {
            labels:  arr.frequencies,  // Ｘ軸のラベル
            datasets: [
                {
                    label: "FFT",                            // 系列名
                    data: arr.ffts                // ★必須　系列Ａのデータ
                },
            ],
        },
        options: {
                title: {                           //タイトル設定
                    display: true,                 //表示設定
                    fontSize: 18,                  //フォントサイズ
                    text: 'Z軸方向成分の加速度'                //ラベル
                },
                scales: {
                    yAxes: [{                      //y軸設定
                        display: true,             //表示設定
                        scaleLabel: {              //軸ラベル設定
                        display: true,          //表示設定
                        labelString: '振幅(s^2/Hz)',  //ラベル
                        fontSize: 18               //フォントサイズ
                        },
                    }],
                    xAxes: [{ 
                        display: true,                //表示設定
                            scaleLabel: {                 //軸ラベル設定
                            display: true,             //表示設定
                            labelString: '周波数(Hz)',  //ラベル
                            fontSize: 18               //フォントサイズ
                            min: 0,                        // 最小値
                            max: 2,                       // 最大値
                            
                            }, 
            
                        }],
                    },
                },
    });
})
</script>